.toolbar{
    position: relative;
    z-index: 100;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-flow: row;
    width: 100%;
    height: 42px;
    background-color: rgb(248, 248, 248);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}